{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if editing_cookbook %}
    <form action="{{ url_for('cookbook.edit_cookbook', cookbook_id=cookbook_id)}}" method="post" enctype="multipart/form-data">
    {% else %}
    <form action="{{ url_for('cookbook.create_cookbook') }}" method="post" enctype="multipart/form-data">
    {% endif %}
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.title) }}

        {{ wtf.form_field(form.pictFile) }}
        {% if pictFile %}
        <span style="color:green">Current uploaded image:<br></span>
        <img src="{{url_for('static', filename=pictFile)}}" style="height:200px">
        {% else %}
        <span style="color:red">No image currently uploaded</span>
        {% endif %}
        <br>
        <br>
        
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.recipes) }}
        {{ wtf.form_field(form.submit) }}
    </form>

  {% endblock %}