<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
<div class="shine-effect">
    <a class="hidden-link" href="{{ url_for('main.viewRecipe', recipe_id=recipe.id) }}">
        <div class="recipe-card-header">
            <span>
                <h5>{{ recipe.title }}</h5>
                <h7>Posted By: {{ recipe.writer.username }}</h7>
            </span>
            <span class="icon-button">
                <form action="" method="post">
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <i class="bi bi-pin-angle"></i><span class="button-description">Save</span>
                    </button>
                </form>
            </span>
        </div>

        <div class="recipe-card-content">
            <p>{{ recipe.description }}</p>
        </div>

        <div class="recipe-card-footer">
            <span>
                {% if recipe.servingSize > 1 %}
                    <h6 class="text-muted"> {{recipe.servingSize}} serving(s) </h5>
                {% else %}
                    <h6 class="text-muted"> {{recipe.servingSize}} serving </h5>
                {% endif %}
                <h6 class="text-muted"> {{recipe.estimatedTime}} </h5>
            </span>
            <span>
                {% if recipe.writer.id == current_user.id %}
                    <span class="icon-button">
                        <form action="{{ url_for('main.delete', recipe_id=recipe.id) }}" method="post">
                            <button type="submit" class="btn btn-danger" style="width: 100%; margin-top:1px; margin-bottom:1px;">
                                <i class="bi bi-trash"></i><span class="button-description">Delete</span>
                            </button>
                        </form>
                    </span>
                {% endif %}
            </span>
        </div>
    </a>
</div>
