<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
<div id="recipe-{{recipe.id}}" class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">{{ recipe.title }}</h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{ recipe.description }}</p>
                    <!-- (milestone2) TODO: include all the tags associated with the recipe-->
                    <!-- {% for tag in recipe.get_tags() %}
                        <span class="tagitem">#{{ tag.name }}</span>
                    {% endfor %} -->
        </div>

        <div class="card-footer">
            <div>
                <small class="text-muted">Posted at: {{ moment(recipe.timestamp).format('LLL') }}</small>
                <br>
                <small class="text-muted">Posted by: {{ recipe.writer.username }}</small>
            </div>
            <div>
                {% if recipe.writer.id == current_user.id %}
                    <form action="{{ url_for('main.delete', recipe_id=recipe.id) }}" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" style="width: 100%;">
                    </form>
                {% endif %}
                <form action="{{ url_for('main.viewRecipe', recipe_id=recipe.id) }}" method="get">
                        <input type="submit" value="View" class="btn btn-secondary btn-sm" style="width: 100%">
                </form>
                
            </div>
        </div>
            <tr> 
                    <div class = "card-tag">
                        {% if recipe.get_num_tag() > 6 %}
                            {% for tag in recipe.get_tags()[:5] %}
                                <span class = "tagitem"> {{tag.name}} </span>
                            {% endfor %}
                            <span class="tagitem tag-more">
                                +{{ recipe.get_num_tag()-5 }} more
                            </span>
                        {% else %}
                            {% for tag in recipe.get_tags() %}
                                <span class = "tagitem"> {{tag.name}} </span>
                            {% endfor %}
                        {% endif %}
                    </div>
            </tr>
</div>
