{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <h1>Post New Smile</h1>

    {% if form %}
        <form action="{{ url_for('main.postRecipe') }}" method="post">
            {{ form.hidden_tag() }}

            {{ wtf.form_field(form.title)}}
            <!-- TODO: (milestone 1) Display the error messages of the `title` field validator (if there are any validation errors).   -->  
            {% for error in form.title.errors %}
                <span class="error">{{ error }}</span><br>
            {% endfor %}

            <!-- TODO: (milestone1) Include the form item for the post's `body`. Apply appropriate styling for the `body`form  item.  -->  
            {{ wtf.form_field(form.body) }}
            <!-- TODO: (milestone 1) Display the error messages of the `body` field validator (if there are any validation errors).   -->  
            {% for error in form.body.errors %}
                <span class="error">{{ error }}</span><br>
            {% endfor %}
    
            <!-- TODO: (milestone2) Include the form item for `tag` selection.   -->  
            {{ wtf.form_field(form.tag) }}
            
            {{ wtf.form_field(form.submit)}}
        </form>
    {% endif %}


  {% endblock %}