{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <div class="card" style="background-color: #eceaea;">

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="card-title m-5 mb-2 mt-3"> {{recipe.title}} </h1>
                <h3 class="card-subtitle mb-2 mx-5 text-body-secondary"> By <span class="card-subtitle fw-bold"> {{ recipe.writer.username }} </span>  </h2>
            </div>
            
            <div class="card-text m-5" style="text-align: right;">
                <h5 class="card-text"> {{recipe.servingSize}} serving(s) </h5>
                <h5 class="card-text"> {{recipe.estimatedTime}} </h5>
            </div>
        </div>
        
        <div class="card-body"> 
            <div class="card mx-2 mb-2 p-2" style="width: auto;"> 
                <p class="card-title fw-bold"> Description: </p>
                <p class="card-text"> {{ recipe.description }}</p>
            </div>
            <div class = "card-tag d-flex flex-wrap justify-content-start gap-1 mat-1 ms-3">
                <p class = "card-title fw-bold">Tags: </p>
                {% for tag in recipe.get_tags() %}
                    <span class = "tagitem"> {{tag.name}} </span>
                {% endfor %}
            </div>
            <div class="card mx-2 mb-2 p-2" style="width: auto;"> 
                <p class="card-title fw-bold"> Ingredients: </p>
                <ul>
                    {% for ingredient in ingredients %}
                        <li class="card-text"> {{ingredient.amount}} {{ingredient.unit}} of {{ingredient.getName()}} </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card mx-2 mb-2 p-2" style="width: auto;"> 
                <p class="card-title fw-bold" > Steps: </p>
                <p class="card-text ms-2"> {{ recipe.steps }}</p>
            </div>
        </div>
        <div class="card-footer">
            {% if recipe.writer.id == current_user.id %}
                <form action="{{ url_for('main.delete', recipe_id=recipe.id) }}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                <form action="{{ url_for('main.editRecipe', recipe_id=recipe.id) }}" method="get">
                    <input type="submit" value="Edit" class="btn btn-secondary">
                </form>
            {% endif %}
            <form action="" method="post">
                    <input type="submit" value="Save" class="btn btn-danger like">
            </form>
        </div>
    </div>

</div>
    
  
{% endblock %}