:root {
    --accent-bg-color: #fff9f2;
    --main-bg-color: #fff;
}

/* Navbar */
.navbar {
    background-color: var(--accent-bg-color);
}

.nav-item {
    margin-left:5px;
    margin-right:5px;
}

.navbar-brand {
    font-family: "Times New Roman", Times, serif;
}

/* Flash messages */
.flash-container {
    background: #c3e4ff;
    color:#1c2fb9;
    height: 35px;
	font-family: Tahoma;
	font-size: 16px;
	padding: 20px 0px 5px 15px ;
	margin: 10px 0px 10px 0px;
}

.error {
    color: red;
}

/* Create recipe form */
.remove-btn {
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ingredient-form {
    width:100%;
}

/* Recipe cards */
.recipe-card-collection {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.recipe-card{
    border-style: solid;
    padding:0;
    margin:1vw;
    height:400px;
    transition: 0.15s;
}

.recipe-card:hover {
    box-shadow: 0px 5px 5px #888;
    transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
    .recipe-card{
        width: 27%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .recipe-card{
        width: 47%;
    }
}

@media screen and (max-width: 800px){
    .recipe-card{
        width: 97%;
    }
}

.recipe-card-header {
    height: 25%;
    width: 100%;
    border-style: none none solid none;
    padding: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-bg-color);
}

.recipe-card-content {
    height: 50%;
    width: 100%;
    border-style: none none solid none;
    padding: 5%;
    background-color: var(--main-bg-color);
}

.recipe-card-footer {
    height: 25%;
    width: 100%;
    padding: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-bg-color);
}

.hidden-link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Buttons with icons */

.icon-button {
    .button-description {
        display: none;
        margin-left: 5px;
    }
}

.icon-button:hover {
    .button-description {
        display: inline;
    }
}