<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
{% if recipe.has_image() %}
<div class="recipe-double-sided-card">
<div class="recipe-card-front">
    <div class="recipe-card-image-holder bottom-line">
        <img src="{{url_for('static', filename=recipe.get_pict_path())}}" class="recipe-card-image">
    </div>
    <div class="recipe-card-footer">
        <span><div class="d-flex">
            {% if recipe.writer.is_certified %}
                <!-- Bootrstrap star ICON -->
                <i class="bi bi-star-fill fs-5 me-2"></i>
                {% if recipe.title | length <= 24 %}
                    <h5>{{ recipe.title }}</h5>
                {% else %}
                    <h5>{{ recipe.title[:23] }}...</h5>
                {% endif %}
            {%else%}
                {% if recipe.title | length < 28 %}
                    <h5>{{ recipe.title }}</h5>
                {% else %}
                    <h5>{{ recipe.title[:27] }}...</h5>
                {% endif %}
            {% endif %}
        </div></span>
        <span>
            {% if recipe.servingSize > 1 %}
            <h6 class="text-muted"> {{recipe.servingSize}} serving(s) </h5>
            {% else %}
            <h6 class="text-muted"> {{recipe.servingSize}} serving </h5>
            {% endif %}
            <h6 class="text-muted"> 
                {% if recipe.estimatedHrs > 0 %}{{recipe.estimatedHrs}} hrs {%endif%}
                {% if recipe.estimatedMins > 0 %}{{recipe.estimatedMins}} mins {%endif%}</h5>
        </span>

    </div>
</div>
<div class="recipe-card-back">
{% else %}
<div>
{% endif %}
    <a class="hidden-link" href="{{ url_for('recipe.view_recipe', recipe_id=recipe.id) }}">
        <div class="recipe-card-header bottom-line">
            <span>
                <div class="d-flex">
                    {% if recipe.writer.is_certified %}
                        <!-- Bootrstrap star ICON -->
                        <i class="bi bi-star-fill fs-5 me-2"></i>
                        {% if recipe.title | length <= 24 %}
                            <h5>{{ recipe.title }}</h5>
                        {% else %}
                            <h5>{{ recipe.title[:23] }}...</h5>
                        {% endif %}
                    {%else%}
                        {% if recipe.title | length < 28 %}
                            <h5>{{ recipe.title }}</h5>
                        {% else %}
                            <h5>{{ recipe.title[:27] }}...</h5>
                        {% endif %}
                    {% endif %}
                </div>
                <h7>Posted By: {{ recipe.writer.username }}</h7>
            </span>
            <span class="icon-button">
                {% if recipe in current_user.get_saved()%}
                <form action="{{ url_for('user.remove_saved_recipe', recipe_id=recipe.id)}}" method="post">
                    <button type="submit" class="btn btn-outline-danger pink btn-sm">
                        <i class="bi bi-pin-angle-fill"></i><span class="button-count"> {{ recipe.save_count }} </span><span class="button-description">Remove</span>
                    </button>
                </form>
                {%else%}
                <form action="{{ url_for('user.save_recipe', recipe_id=recipe.id)}}" method="post">
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <i class="bi bi-pin-angle"></i><span class="button-count"> {{ recipe.save_count }} </span><span class="button-description">Save</span>
                    </button>
                </form>
                {%endif%}
            </span>
        </div>

        <div class="recipe-card-content bottom-line">
            <p>{{ recipe.description }}</p>
        </div>

        
        <div class = "recipe-card-tags bottom-line">
            {% if recipe.get_num_tag() > 6 %}
                {% for tag in recipe.get_tags()[:5] %}
                    {{tag.name}} 
                {% endfor %}
                +{{ recipe.get_num_tag()-5 }} more
            {% elif recipe.get_num_tag() == 0%}
                No Tags
            {% else %}
                {% for tag in recipe.get_tags() %}
                    {{tag.name}} 
                {% endfor %}
            {% endif %}
        </div>

        <div class="recipe-card-footer">
            <span>
                {% if recipe.servingSize > 1 %}
                    <h6 class="text-muted"> {{recipe.servingSize}} serving(s) </h5>
                {% else %}
                    <h6 class="text-muted"> {{recipe.servingSize}} serving </h5>
                {% endif %}
                <h6 class="text-muted"> 
                {% if recipe.estimatedHrs > 0 %}{{recipe.estimatedHrs}} hrs {%endif%}
                {% if recipe.estimatedMins > 0 %}{{recipe.estimatedMins}} mins {%endif%}</h5>
            </span>
            <span>
                {% if recipe.writer.id == current_user.id %}
                    <span class="icon-button">
                        <form action="{{ url_for('recipe.delete', recipe_id=recipe.id) }}" method="post">
                            <button type="submit" class="btn btn-danger" style="width: 100%; margin-top:1px; margin-bottom:1px;">
                                <i class="bi bi-trash"></i><span class="button-description">Delete</span>
                            </button>
                        </form>
                    </span>
                {% endif %}
            </span>
        </div>
    </a>
</div>
{% if recipe.has_image() %}
</div>
{% endif %}