{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

<div class="recipe-page">
    <div class="recipe-page-header bottom-line">
        <div class="recipe-page-details">
            <span class="d-flex">
                <h1 class="recipe-page-title"> {{recipe.title}} </h1>
            </span>
            <span style="text-align:right;">
                {{recipe.servingSize}}<i class="bi bi-person-fill" style="padding-left:5px"></i>
                <br>
                {% if recipe.estimatedHrs > 0 %}{{recipe.estimatedHrs}} hrs {%endif%}
                {% if recipe.estimatedMins > 0 %}{{recipe.estimatedMins}} mins {%endif%}
                <i class="bi bi-stopwatch" style="padding-left:5px"></i>
                <br>
                {% if current_user.global_costs %}
                    {% set recipeCostInfo = recipe.getCost() %}
                {% else %}
                    {% set recipeCostInfo = recipe.getCost(current_user.id) %}
                {% endif %}

                ${{ "%.2f"|format(recipeCostInfo[0]) }}
                {%if recipeCostInfo[1] | length > 0%}
                    + ?<br>(not included: 
                    {% for ingName in recipeCostInfo[1] %}
                        {{ingName}}{% if not loop.last %}, {% endif %}
                    {% endfor %})
                {% endif %}
            </span>
        </div>
        <div class="recipe-page-description">
            {% if recipe.has_image() %}
            <span style="margin-right: 15px">
                <img src="{{url_for('static', filename=recipe.get_pict_path())}}" class="recipe-page-image">
            </span>
            {% endif %}
            <span>{{recipe.description}}</span>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-1" style="margin-inline-start: 1%;">
            <h5>Tags: </h5>
            {% for tag in recipe.get_tags() %}
                <span class="recipe-page-tag"> 
                    {{ tag.name }}
                </span>
            {% endfor %}
        </div>
        <br>
        <div class="d-flex flex-wrap align-items-center gap-2" style="margin-inline-start: 1%;">
            {% if recipe.get_cookbooks() %}
                <h5>Part of Cookbook(s):  </h5>
                {% for cookbook in recipe.get_cookbooks() %}
                    <span class="fs-6">
                        <a href="{{ url_for('cookbook.view_cookbook', cookbook_id=cookbook.id) }}" class = "fw-bold"> {{cookbook.title}} </a>
                    </span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="recipe-page-details">
            <span>Posted by: <a href="{{ url_for('user.view_other_profile', user_id=recipe.writer.id)}}" class="fw-bold">{{recipe.writer.username}}</a></span><span>Last updated {{moment(recipe.timestamp).format('LLL')}}</span>
            <div class="recipe-page-details">
                {% if recipe.writer.id == current_user.id %}
                    <span style="margin-right:5px;"><form action="{{ url_for('recipe.delete', recipe_id=recipe.id) }}" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this recipe?');">
                            <i class="bi bi-trash"></i><span style="margin:5px">Delete</span>
                        </button>
                    </form></span>
                    <span style="margin-right:5px;"><form action="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}" method="get">
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-pencil-square"></i><span style="margin:5px">Edit</span>
                        </button>
                    </form></span>
                {% endif %}
                {% if recipe in current_user.get_saved()%}
                <span class="icon-button" style="margin-right:5px;"><form action="{{url_for('user.remove_saved_recipe', recipe_id=recipe.id)}}" method="post">
                        <button type="submit" class="btn btn-danger pink">
                            <i style="margin-right:1px;">{{recipe.save_count}}</i><i class="bi bi-pin-angle-fill"></i><span style="margin-left:5px;">Remove</span>
                        </button>
                </form></span>
                {%else%}
                <span class="icon-button" style="margin-right:5px;"><form action="{{url_for('user.save_recipe', recipe_id=recipe.id)}}" method="post">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#saveModal">
                            <i style="margin-right:1px;">{{recipe.save_count}}</i><i class="bi bi-pin-angle"></i><span style="margin-left:5px;">Save</span>
                        </button>
                </form></span>
                {%endif%}
            </div>
        </div>
    </div>

    <div class="recipe-page-content">
        <div class="recipe-page-steps">
            <h3 class="recipe-page-subtitle">Directions</h3>
            <p>
                {% for step in recipe.get_steps() %}
                {{loop.index}}. {{step.description}}<br>
                {% endfor %}
            </p>
        </div>

        <div class="recipe-page-ingredients">
            <h3 class="recipe-page-subtitle">Ingredients</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li class="recipe-page-ingredient-item"> {{ingredient.amount}} {{ingredient.unit}} of {{ingredient.getName()}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
    
<!-- Save Recipe Modal -->
<div class="modal fade" id="saveModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST" action="{{ url_for('user.save_recipe', recipe_id=recipe.id) }}">
        
        <div class="modal-header">
          <h5 class="modal-title">Add Ingredients to Grocery List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          {% for ingredient in ingredients %}
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     name="ingredient_ids"
                     value="{{ ingredient.ingredient_id }}">
              <label class="form-check-label">
                {{ ingredient.amount }} {{ ingredient.unit }} of {{ ingredient.getName() }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">
              Save & Add Selected
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
  
{% endblock %}